

.aboutme-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(10, 10, 10);
    background-image: linear-gradient(to right, rgb(20, 20, 20), rgb(40, 40, 40), rgb(60, 60, 60) ); 
    color: #ffffff;
    height: 100%;
}
.aboutme-main-div h1{
    text-align: center;
    margin:1rem;
}
.aboutme-main-div h2{
    margin:1rem;
}
.aboutme-main-div h1, h2{
    color: #ffffff;

}

.div-projects{
    margin: 1rem;
    padding: 0.5rem;
    width: 70%;
}

.div-projects ul {
    margin: 2rem;
}

.div-projects li {
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: larger;
    font-weight: bolder;
}
.certificates-div h2 {
    margin-left: 7rem;
}
.certificates-div img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-left: 3rem;
}
.certificates-div span{
    margin: 1rem;
}
.ul-projects p{
    margin: 0.5rem;
    text-indent: 10px;
}
@media (max-width: 500px){
    .aboutme-main-div{
        height: 100%;
    }
    .aboutme-main-div h1{
        font-size: 28px;
    }
    .introduction-p{
        width: 250px;
        margin-left: 5rem;
    }
    .certificates-div img{
        width: 200px;
        height: 200px;
    }
    
}