.contacts-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(20, 20, 20), rgb(40, 40, 40), rgb(60, 60, 60) );  
    font-weight: bolder;
    font-size: larger;
    color: #fff;
}

.contacts-main-div h1 {
    margin: 1rem;
    color: white;
}
.contacts-main-div span{
    margin: 0.5rem;
    color: white;
}
.contacts-main-div div{
    margin: 0.5rem;
}
.contacts-main-div span{
    text-decoration: underline;
}
.link_contacts{
    
    color: #fff;
}

