
nav{
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    background-color: #020122;
    justify-content: space-between;  
    padding: 1rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    opacity: 0.97;
}
.nav-links a:hover{
    opacity: 1;
}
.icon{
    width: 30px;
    height: 30px;
}
.menu{
    display: none;
    color: #FFF;
}
.nav-links.show{
    display: flex;
}
.menuImg{
    width: 25px;
    height: 25px;
}
@media (max-width: 500px){
    .icon{
        display: none;
    }
    nav{
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .nav-links{
        flex-direction: column;
        display: none;
    }
    .menu{
        display: block;
        margin-left: 15rem;
    }
}
@media (max-width: 350px){
    .menu{
            display: block;
            margin-left: 10rem;
    }
}